<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  .done {
    
  }
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="inputValue">
    <button v-on:click="handleBtnClick">提交</button>

    <ul>
      <li v-for="(item,index) in list">{{item}}</li>
    </ul>
  </div>
</body>
<script src="./vue.js"></script>
<script>
  let vm = new Vue({
    el:'#app',
    data:{

    },
    methods : {

    }
  })
</script>
</html>