<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>条件渲染</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="show">{{msg}}</div>
    <div v-show="show">{{msg}}</div>
    <!-- 二者区别 false下v-if是直接不渲染 v-show是display：none -->

    <div v-if="a === 'a'">aaaa</div>
    <div v-else-if="a === 'b'">bbbb</div>
    <div v-else>no a no b</div>
<!-- 由于vue在重新渲染页面时候会尽量先用页面已经存在的dom 所以当重新渲染dom时候input里的输入的内容会和原来保持一致 -->
<!-- 如何解决这样的问题呢？ 采用key值的方式。加入不同key值，vue就知道这个元素是唯一的元素，key值不同就不会复用原有dom
  （vue里虚拟dom的diff算法） -->
    <div  v-if="input">
      用户名:<input  key="name"/>
    </div>
    <div v-else>
      邮箱:<input key="mail"/>
    </div>
    <button @click="change">按钮</button>
  </div>
  <script>
    let vm = new Vue({
      el:"#app",
      data:{
        show:false,
        a:'a',
        msg:"hello wolrd",
        aaa:'bye world',
        input:false,
      },
      methods:{
        change:function (){
          this.input = !this.input;
        }
      }

    })
  </script>
</body>
</html>